<!DOCTYPE html>
<html lang="es">
<head>

<title>Fight and Fitness</title>

<Link  href = "{{asset('css/estilos.css')}}" rel = "stylesheet" type = "text/css"  />


</head>

<body>




  <div id="footer_arriba">
  	<img src="{{asset('imagenes/logo3.png')}}" />
  </div>

  
  
  <div id="cuadro_cont">

  		<div id="cuadro1">
  			
  			<div class="boton">
                <a href="{{ path('ff_demo_homepage', { 'slug': '' } )}}">
                  Volver Principal
                </a>
            </div>

  		</div>
    
	    <div id="cuadro2">


	    	<div id="texto">Vencimiento de menbresia a 5 dias o menos:</div> <br/> <br/><br/> <br/>

	      	<table align="center">

				<tr>
					<td class="fila1"> APELLIDOS</td>
					<td class="fila1"> APELLIDOS</td>
					<td class="fila2"> NOMBRES</td>
					<td class="fila3"> </td>
					<td class="fila3"> </td>
				</tr>

				{% for result in resultado %}
				
					
				{% if date(result.fechafinal) > date() %}
							
						{% if date(result.fechafinal) < date('+5days')  %}

							<tr>
								<td class="fila_1_r">{{ result.apellidop }} </td>
					
								<td class="fila_1_r">{{ result.apellidom}} </td>

								<td class="fila_2_r">{{result.nombre}}</td> 

								<td class="fila_3">
									<a href="{{ url('alumno', { 'id': result.id }) }}">
										<img src="{{asset('imagenes/icon-lupa.png')}}" width="20" height="20"/> 
									</a>	
								</td>
							</tr>

						{% endif %}

				{% endif %}

				{% endfor%}
			</table>

			
		</div>
	</div>
  

</body>
</html>